.git
.gitattributes
.gitignore
.flake8
.pre-commit-config.yaml
.DS_Store

.vscode

**/.pytest_cache
**/__pycache__
**/.DS_Store
**/.dockerignore
**/*.egg-info
**/.mypy_cache
**/.ruff_cache
**/.venv
**/.idea

test

poetry.toml