Thumbs.db

# PYTHON #
__pycache__
*.py[cod]
*.py~

# ENVS #
.env
.venv

.vscode

build/
*egg-info/
dist/

.pytest
.pytest_cache
.mypy_cache
id_rsa
*.ipynb
coverage*
.coverage.*
.dmypy.json
dmypy.json
.idea
.ipynb_checkpoints
.ruff_cache
.cache
profile_default/
ipython_config.py
__pypackages__/
.python-version
qodana.yaml
.idea

**/*.log
**/*tmp*
**/*secret*
**/*.pkl